<section id='home' class="h-screen text-white flex lg:px-20 flex-col justify-center items-center lg:items-start px-4 w-full bg-[url(/images/banner.jpg)] bg-cover bg-center">
    <div #heroContent class="space-y-0 text-center lg:text-left">
        <p class="text-3xl">Hello I AM </p>
        <h2 class="text-amber-300 text-3xl">Gerardo Tango</h2>
        <div>
            <h2 class="text-6xl font-bold">UI & UX</h2>
            <h2 class="text-3xl mb-5">Designer</h2>
            <p class="mb-10">
                Développeur web & designer UI/UX,<br/> je crée des solutions digitales performantes et orientées utilisateur.
            </p>
            <button class="bg-amber-300 py-2 px-10 font-bold rounded-full hover:bg-amber-600 transition duration-300">
                Contact Me
            </button>
        </div>
    </div>
</section>